<h1>Angular 18 Tutorial</h1>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle | lowercase }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz
      breeds of dog from Japan. A small, agile dog that copes very well with
      mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
    <input type="checkbox" [disabled]="isDisabled" />
    <br />
    <input type="checkbox" [disabled]="isDisabled" />
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<span>{{ todaydate | date : "fullDate" }}</span>
<br />
<span>{{ salary | currency : "PHP" }}</span>
<br />
<span>{{ salary | number : "1.2-2" }}</span>
<br />
<span>{{ salary / 100 | percent }}</span>
<br />
<span>{{ _obj | json }}</span>
<br />
<span>{{ title | reverse }}</span>
<br />
<input type="checkbox" [disabled]="isDisabled" />
<br />
<input type="checkbox" checked="{{ isDisabled }}" />
<br />
<br />
<!-- <input (keyup)="UpdateTitle($event)" /> -->
<input [(ngModel)]="title" />

<!-- <input (keyup)="UpdateTitle($event)" /> -->
<br />
<button (click)="ChangeTitle()">Click here</button>
<br />
<div class="inactive"><h2>Attribute directive</h2></div>
